.gameboard{
    background-color: rgb(172, 168, 168);
    width: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gameboard .boardTile{
    background-color: rgb(219, 214, 203);
    font-size: 2rem;
}

button{
    height: 50px;
    width: 50px;
}